#clock-container{
    border: 2px solid black;
    /* width: 100%; */
    text-align: center;
    font-size: 15em;
    font-weight: 900;
    width: 99vw;
}
@media(max-width:1000px){
    #clock-container{
        font-size: 10rem
    }
}
@media(max-width:750px){
    #clock-container{
        font-size: 6rem
    }
}
@media(max-width:400px){
    #clock-container{
        font-size: 4rem
    }
}
#minutes::before, #minutes::after{
    content:":"
}
.container{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
body{
    background-color: teal;
}